body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contenedorGeneral{
    height: 100%;
    width: 100%;
    display: block;
    background-color:rgb(136, 255, 0);
}

#fondo{
    height: 130vh;
    width: 98.75vw;
    display: flex;
    background-color:aqua;
    justify-content: center;
    align-items: center;
}

div{
    height: 50%;
    width: 2.2%;
    display: inline;
}

#informacionUsuario{
    height: 40%;
    width: 100%;
    background-color: pink;
    float: left;
    
}

#bannerSuperior{
    height: 7.8%;
    width: 100%;
    background: linear-gradient(to right, rgb(224, 255, 255), rgb(173, 216, 230));
    float:left;
}

#iconoListaIz{
    background-image: url(./assets/listaDespelgable.png);
    float: left;
    margin: 15px 0px 15px 25px;
}

#iconoMenuDerecho{
    background-image: url(./assets/iconoPerfil.png);
    float: right;
    margin: 15px 25px 15px 0px;
}

.fotoPerfil{
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 250px;
    background-color:coral;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#profilePicture{
    background-color:greenyellow;
    height: 100px;
    width: 100px;
}

table{
    text-align: center;
    margin-bottom: 25px;
}

#configuracionPerfil{
    
    float: right;
    margin-right: 550px;
    margin-top: 15px;
    padding: 0px;
}

#cerrar{
    background-image: url(./assets/configuracion.png);
    width: 30px;
    height: 30px;

    float: right;
    margin-right: 43%;
    margin-top: 20px;
}

td{
    background-color: blue;
    width: 110px;
    height: 20px;
    border: 10px;
}

button{
    width: 50%;
   
  
    background-color: transparent;
    border: 0px;
    font-size: 18px;
}

#botonesCont{
    width: 100%;
    background-color: coral;
    display: flex;
    height: 45px;
}

#biografia{
    width: 100%;
    height: 16%;
    float: left;
    background-color: cadetblue;
    border-color: rgb(173, 216, 230);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    text-align: center;
}

#siguiendo{
    float: left;
    width: 100%;
    height: 35%;
    background-color: crimson;
}

@media screen and (max-width: 760px){

    #contenedorGeneral{
        height: 100%;
        width: 100%;
    }

  #bannerSuperior{
        display: none;
    }
    
    
#cerrar{
    margin-right: 10%;
}
}

